{% extends "base.html" %} {% block title %}Index{% endblock %} {% block head %}
{{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>
{% endblock %} {% block content %}
<table border="1">
  <thead>
    <td>Name</td>
    <td>Address</td>
    <td>city</td>
    <td>Pincode</td>
  </thead>

  {% for row in rows %}
  <tr>
    <td>{{row['name']}}</td>
    <td>{{row['address']}}</td>
    <td>{{ row['city']}}</td>
    <td>{{row['pin']}}</td>
  </tr>
  {% endfor %}
</table>

<a href="/">Go back to home page</a>
{% endblock %}
