{% extends "base.html" %} {% block title %}view staff{% endblock %} {% block
head %} {{ super() }} {% endblock %} {% block content %}
<!-- For demo purpose -->
<div class="container py-5">
  <div class="row text-center text-white">
    <div class="col-lg-8 mx-auto">
      <h1 class="display-4">Our Teachers</h1>
      <p class="lead mb-0">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde,
        accusantium. Non saepe ducimus repudiandae error voluptatibus sunt ea
        veritatis maiores eligendi nam ex amet, fugiat distinctio. Officia iure
        saepe obcaecati?.
      </p>
    </div>
  </div>
</div>
<!-- End -->

<div class="container text-muted">
  <div class="row text-center">
    <!-- Team item -->
    <div class="col-xl-3 col-sm-6 mb-5">
      <div class="bg-white rounded shadow-sm py-5 px-4">
        <img
          src="https://d19m59y37dris4.cloudfront.net/university/1-1-1/img/teacher-4.jpg"
          alt=""
          width="100"
          class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
        />
        <h5 class="mb-0">Manuella Nevoresky</h5>
        <span class="small text-uppercase text-muted">World languages</span>
        <ul class="social mb-0 list-inline mt-3">
          <li class="list-inline-item">
            <a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End -->

    <!-- Team item -->
    <div class="col-xl-3 col-sm-6 mb-5">
      <div class="bg-white rounded shadow-sm py-5 px-4">
        <img
          src="https://d19m59y37dris4.cloudfront.net/university/1-1-1/img/teacher-2.jpg"
          alt=""
          width="100"
          class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
        />
        <h5 class="mb-0">Samuel Hardy</h5>
        <span class="small text-uppercase text-muted">Music & Arts</span>
        <ul class="social mb-0 list-inline mt-3">
          <li class="list-inline-item">
            <a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End -->

    <!-- Team item -->
    <div class="col-xl-3 col-sm-6 mb-5">
      <div class="bg-white rounded shadow-sm py-5 px-4">
        <img
          src="https://d19m59y37dris4.cloudfront.net/university/1-1-1/img/teacher-1.jpg"
          alt=""
          width="100"
          class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
        />
        <h5 class="mb-0">Tom Sunderland</h5>
        <span class="small text-uppercase text-muted"
          >Handcrafts & Singing</span
        >
        <ul class="social mb-0 list-inline mt-3">
          <li class="list-inline-item">
            <a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End -->

    <!-- Team item -->
    <div class="col-xl-3 col-sm-6 mb-5">
      <div class="bg-white rounded shadow-sm py-5 px-4">
        <img
          src="https://d19m59y37dris4.cloudfront.net/university/1-1-1/img/teacher-7.jpg"
          alt=""
          width="100"
          class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
        />
        <h5 class="mb-0">John Tarly</h5>
        <span class="small text-uppercase text-muted">KinderGarten</span>
        <ul class="social mb-0 list-inline mt-3">
          <li class="list-inline-item">
            <a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End -->
  </div>
</div>

{% endblock %}
